.select{
    font-family:cursive;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(63, 62, 62, 0);
    transition: 0.3s;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    font-weight: bold;
    font-size: 3.1vh;
    
}

.select:hover{
    color: white;
}

.countries{
    font-family:cursive;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(63, 62, 62, 0);
    transition: 0.3s;
    margin-left: 1vw;
    margin-right: 70vw;
    font-weight: bold;
    font-size: 2.7vh;
    color: black;
    cursor: pointer;
}

.countries:hover{
    color: white;
}


.alink:hover{
    filter:invert(100%)
}

.nav{
    border: 0.4vh solid #6096ba;
    border-radius: 20px;
    margin-bottom: 1vh;
    margin-right: 2%;
    margin-left: 2%;
    margin: 0.5vh;
    height: 5vh;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.315);
}