.Card {
    border-radius: 60px;
    height:34vh;
    width:14vw;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; /*los margin para darles el espaciado*/
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.452);
    color: #274c77;
    transition: 0.5s;
    font-family:cursive;
    float: left; /* para colocar las cards horizontal*/
    box-shadow: 0 0 5px 5px rgb(39, 39, 39);
  }
  
  .Card:hover{
    background-color: rgba(255, 255, 255, 0.452);
    color: black;
  }
  
  .Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    padding: 0;
  }
  
  .Titulos {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin-top: 4vh; 
    padding: 2%;
  }
  
  .Img {
    display: flex;
    justify-content: left;
    position: relative;
    top: 4vh;
  }
  
  .imgCard {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    object-fit: cover;
    border-radius: 70px;
    height: 15vh;
    width: 10vw;
    align-self: center; 
  }
  
  .titulo {
    margin-top: 0.8vh;
    margin-bottom: 0.3vh;
    font-size: 2.5vh;
  }
  
  .subtitulo {
    margin-top: 0.3vh; 
    font-size: 2vh;
  }

  .mensaje{
    font-size: 5vh;
}