.containerPagina {
    display: flex;
    font-family:cursive;
    flex-direction: row;
    justify-content: center;
   
  }

  .containerImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    margin-left: 1vw;
    width: 53vw;
    height: 88.5vh;
    border-radius: 15px;
    margin-top: 0.5vh;
    background-color:rgba(255, 255, 255, 0.253);
    box-shadow: 0 0 5px 5px rgb(39, 39, 39);
  }

  .pais{
    margin-top: 0px;
    font-size: 6vh;
    color: white;
    font-weight: bolder;

    font-family: cursive;
    border-radius: 10px;
    padding: 3px;
  }

  .img {
    width: 50%;
    background-color: #0000007b;
    border-radius: 50px;
    margin-left: 1vh;
    margin-top: 10px;
  }

  .containerDetalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 38.9vh;
    background-color:rgba(246, 243, 243, 0.555);
    border-radius: 15px;
    margin-bottom: 1vh;
    padding-bottom: 4.5vh;
    margin-top:0.5vh;
    color: #274c77;
    margin-right: 0.5vw;
    box-shadow: 0 0 5px 5px rgb(39, 39, 39);
    margin-top: 8px;


  }

  .actcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12vw;
    height:17vh;
    background-color: rgba(0, 0, 0, 0.452);
    padding: 0.4vh;
    border-radius: 15px;
    align-items: center;
    color:#274c77;
    box-shadow: 0 0 5px 5px rgb(39, 39, 39);
    margin-top: 10px;
  }

.titulos{
  font-family:cursive;
  font-weight:normal;
  font-size: 4vh;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  border-radius: 10px;
  padding: 5px;
}

.text{
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-size: 2.5vh;
}

.textsubtitulos{
  text-transform: uppercase;
  margin-top: 0.5vh;
  margin-bottom: 0.3vh;
}

 .actividades{
     display: flex;
     flex-direction:row;
     justify-content: center;
     border-radius: 20px;
     flex-wrap: wrap;
     column-gap: 2vh;
     align-items: center;
     margin-top: 1vh;
 }

 .Loading{
  font-size: 2.5vh;
 }