.landing{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url(https://img.freepik.com/foto-gratis/concepto-globalizacion-internacional-global-mapa-mundo_53876-120486.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    min-height: 100vh;
    background-position-x: center;
    background-position-y: center;
    
    
}
/* para darle un poco de oscuridad al background*/
.dark {
    background-color: rgba(0, 0, 0, 0.418);
    background-size: cover;
    min-height: 100vh;
  }

  .text {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 55%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: "Consolas";
    /* font-size: 30px;
      color: rgb(0, 0, 0);
      line-height: 0.1em;
      padding-top: 120px;
      font-weight: bold; */
  
    margin-top: 8%;
  }
  
  .textBig {
    font-size: 4.5vh;
    margin-top: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-content: center;
  }
  
  h5 {
    margin: 0;
  }
  
  h1 {
    margin: 0;
  }





