.container{
    border-radius: 40px;
    display: flex;
    column-gap: 2vw;
    padding: 4.7vh;
    justify-content: center;
    align-items: center; 
    height:80vh;
    width:80vw;
    background-color: rgba(252, 251, 251, 0.1);  
    box-shadow: 0 0 5px 5px rgb(39, 39, 39);
    margin-top: 6px;
    margin-right: 0.3%;
}

.home {
    display: flex;
    flex-direction:row;
    justify-content: center;
    font-family:cursive;
    color: #274c77;
    padding-left: 0.2%;
    padding-right: 0.2%;
    padding-bottom: 0.2%;
}

.lado{
    padding-top: 4.7vh;
    padding-bottom: 4.7vh;
    height:80vh;
    width:15vw;
    /*border: 0.4vh solid #6096ba;*/
    border-radius: 40px;
    background-color: #8b8c89;
    margin-right: 0.4%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 5px rgb(39, 39, 39);
    margin-top: 6px;
    margin-left: 0.3%;
}

.filtroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-top: 0.6rem;
    margin-bottom: 4vh;

  }


.subtitulos {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    font-size: 3vh;

}

.titulos {
    margin-top: 0px;
    margin-bottom: 2vh;
    background-color: #a3cef1;
    color: #274c77;
    width:13vw;
    font-size: 4vh;
}

.orderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    border-radius: 20px;
    margin-top: 2vh;
    margin-bottom: 0;
}

.select{
    width: 12vw;
    height: 5vh;
    margin-bottom: 5vh;
    font-family:cursive;
    border-radius: 15px;
    background-color: white;
    transition: 0.3s;
    font-size: 2vh;
    text-align: center;
}

.select:hover{
    background-color: #274c77;
}

.botones{
    width: 10vw;
    height: 5vh;
    margin-bottom: 3vh;
    font-family:cursive;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    border-color: #ffffff;
    color: #274c77;
     box-shadow: 0 0 5px 5px rgb(39, 39, 39);
     -webkit-transition: all 150ms ease-in-out;
    transition: 0.5s;
    font-size: 3vh;
    font-weight: bold;
}

.botones:hover{
    background-color: #274c77;
    color: white;
}

.paginas{
  margin-top: 80vh;
  position: fixed;
}

.espacio{
    margin-top: 0px;
    margin-bottom: 0px;
}

.mensaje{
    font-size: 6vh;
    color: white;
}
